@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body,
  #app {
    width: 100%;
    height: 100%;
  }
  :root {
    --app-height-header: 60px;
  }
  .el-button {
    background-color: var(--el-button-bg-color);
  }
}
@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-center-between {
    @apply flex justify-between items-center;
  }
}
